<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>FullScreen Backgrounds - fullPage.js</title>
	{% load staticfiles %}

	<meta name="Resource-type" content="Document" />
	<!--Bootsrap links -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="{% static 'external/css3/jquery.fullPage.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'external/css3/examples.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/hellopeterfullpage.css' %}"/>

	<script type="text/javascript" src="{% static 'external/wordfreq.js' %}"></script>
	<script type="text/javascript" src="{% static 'external/wordfreq.worker.js' %}"></script>
	<script type="text/javascript" src="{% static 'external/wordcloud2.js-master/src/wordcloud2.js' %}"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script> 
    <script type="text/javascript" src="{% static 'lib/d3.js' %}"></script> 
    <script type="text/javascript" src="{% static 'local/hellopeterfullpage.js' %}"></script>  
    <script type="text/javascript" src="{% static 'external/crossfilter.v1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'external/crossfilter.v1.js' %}"></script>
	<script type="text/javascript" src="{% static 'external/d3.v3.min.js' %}"></script>	
	<script type="text/javascript" src="{% static 'external/d3.v3.js' %}"></script>
	<script type="text/javascript" src="{% static 'external/d3.v2.js' %}"></script>
	<script type="text/javascript" src="{% static 'external/d3.v2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'external/markerclusterer.js' %}"></script>
	<script type="text/javascript" src="{% static 'external/d3.layout.cloud.js' %}"></script>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	
	<style>

	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}
	.intro p{
		color: #fff;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}

	/* Fixed header and footer.
	* --------------------------------------- */
	#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 20px 0 0 0;
	}

	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu {
		bottom: 80px;
	}
	#infoMenu li a {
		color: #fff;
		z-index: 999;
	}

	</style>

	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

	<script type="text/javascript" src="{% static 'external/js/jquery.fullPage.js' %}"></script>
	<script type="text/javascript" src="{% static 'external/vendors/jquery.slimscroll.min.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'external/js/examples.js' %}"></script>
	
	

	<script type="text/javascript">
	     var serviceComments = {{ service_reports | safe }};
		$(document).ready(function() {
			$('#fullpage').fullpage({
				anchors: ['firstPage', 'secondPage', '3rdPage'],
				sectionsColor: ['#C63D0F', '#1BBC9B', '#7E8F7C'],
				css3: true
			});
		});
		document.addEventListener('DOMContentLoaded', init, false);
	</script>

</head>
<body>

<select id="demosMenu">
  <option selected>Choose Demo</option>
  <option id="backgrounds">Background images</option>
  <option id="backgroundVideo">Background video</option>
  <option id="gradientBackgrounds">Gradient backgrounds</option>
  <option id="looping">Looping</option>
  <option id="noAnchor">No anchor links</option>
  <option id="scrollingSpeed">Scrolling speed</option>
  <option id="easing">Easing</option>
  <option id="callbacks">Callbacks</option>
  <option id="css3">CSS3</option>
  <option id="continuous">Continuous scrolling</option>
  <option id="normalScroll">Normal scrolling</option>
  <option id="scrollBar">Scroll bar enabled</option>
  <option id="scrolling">Scroll inside sections and slides</option>
  <option id="navigationV">Vertical navigation dots</option>
  <option id="navigationH">Horizontal navigation dots</option>
  <option id="fixedHeaders">Fixed headers</option>
  <option id="apple">Apple iPhone demo (animations)</option>
  <option id="oneSection">One Single Section</option>
  <option id="responsive">Responsive</option>
  <option id="methods">Methods</option>
</select>

<div id="header">SerVizFront - Customer Service Visualization</div>
<div id="footer"></div>

<div id="fullpage">
	<div class="section " id="section0">
		<div class="intro">
			<h1>Hello Peter Visualized</h1>
			<p>Your future is in your hands - Making a difference!</p>
			<!-- container for displaying the map -->
		   <div id="main">
			    <div id="hellopetermapview">
			        <div id="hellomap"></div>  
			    </div> 
			    <div id="timechartcontainer">
					<div id="servicetime-chart" class="chart"> <div class="title">Hour Filter</div></div>		  
	    		</div>
				<div id="datechartcontainer">
				    <div id="servicedate-chart" class="chart"><div class="title">Date Filter</div></div>  
				</div>
		    </div>
		    
		    <div id="hellocontrol">
		     	<div id="histogramnote" align="center" >Hover over each box to see customer comment text. </div>
		     	<table id="supplierstable"></table>	
    		</div>	
			
		</div>
	</div>
	<div class="section" id="section1">
	    <div class="slide" id="slide1">
			<div class="intro">
				<h1>How to do it</h1>
				<p>
					You will need to place your header and footer outside the plugin's wrapper. 
					This way it won't move on scrolling. Take a look at the source code of this page.
				</p>
				
				<!--<div id="senticontrol">-->
				<!-- <div id="sourrounding_div">	
	 			</div> -->	
			    <div id="sentiment_div"></div>
	     		<div id="sentiment_div2"></div>
	     		<canvas id="canvas_cloud"></canvas>
	     		<canvas id="canvas_cloud2"></canvas>
	     			
	    		<!--</div>	-->	
			</div>
		</div>

	    <div class="slide" id="slide2">
			<h1>Slide 2</h1>
			<img src="imgs/iphone-blue.png" alt="iphone" id="iphone-two" />
		</div>

	</div>
	<div class="section" id="section2">
		<div class="intro">
			<h1>Enjoy it</h1>
		</div>
		
			
	</div>
</div>


</body>
</html>